// Font Families
$font-family: 隶书;

// Typography
$font-size-xxxl: 32px;
$font-size-xxl: 21px;
$font-size-xl: 18px;
$font-size-large: 16px;
$font-size-medium: 14px;
$font-size-small: 12px;
$font-size-xs: 11px;
$font-size-xxs: 10px;

// Font Weight
$font-weight-regular: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// Color
$primary: #01a699;
$page-bg-color: #f8f7f5;
$black: #333333;
$text-dark: #666666;
$text-light: #999999;
$white: #ffffff;
$red: #f44f11;
$green: #01a699;
$markdown-footer-darker: #edefee;
$green-bg: #74b6b6;
$tundoraBlack: #484848;
$filter-border: #cccccc;
$orange: #ec7765;
$orange-hover: #eb6d5a;
$crimsonRed: #e22f21;
$primary-button-border: #a0a0a0;
$body-background: #f8f7f5;
$icon-grey: #a0a0a0;
